<!-- filepath: c:\Users\jidel\Desktop\U\WT\lab6\app\views\chat\index.html.erb -->
<h1>Lista de Chats</h1>

<table>
  <thead>
    <tr>
      <th>Remitente</th>
      <th>Receptor</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <% @chats.each do |chat| %>
      <tr>
        <td><%= User.find(chat.sender_id).first_name %> <%= User.find(chat.sender_id).last_name %></td>
        <td><%= User.find(chat.receiver_id).first_name %> <%= User.find(chat.receiver_id).last_name %></td>
        <td>
          <%= link_to "Ver", chat_path(chat), class: "btn btn-info" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to "Crear Nuevo Chat", new_chat_path, class: "btn btn-success" %>
